<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opensourece.foss.drivinglicence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/reg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main3Activity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main4Activity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main4Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main5Activity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main5Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main6Activity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main6Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main7noteActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main7noteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main7aboutActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.opensourece.foss.drivinglicence.Main7aboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main7Activitysplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailactivityActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".appinfo"
            android:theme="@style/Theme.MyDialog">

        </activity>
    </application>

</manifest>